@import "./assets/scss/ddd/mixin.scss";
.App {
    width: 1000px;
    height: 600px;
    border: 1px solid #1d6ad2;
    margin: 0px auto;
    overflow: hidden;
    .adv-header {
        width: 100%;
        height: 100px;
        overflow: hidden;
        background-color: #1d6ad2;
        color: #fff;
        display: flex;
        .user-info {
            display: flex;
            align-items: center;
            flex: 1;
            padding-left: 10px;
            img {
                width: 80px;
                height: 80px;
            }
            .user {
                padding-left: 15px;
                p {
                    display: block;
                    padding: 0px;
                    margin: 0px;
                }
                .user-name {
                    font-size: 25px;
                    font-weight: bold;
                }
                .user-device {
                    display: flex;
                    align-items: center;
                    i {
                        margin-right: 10px;
                        font-size: 18px;
                    }
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
        .win-tools {
            padding-top: 10px;
            i {
                margin-right: 15px;
                cursor: pointer;
                font-size: 18px;
            }
        }
    }
    .adv-main {
        padding-top: 25px;
        height: calc(100% - 125px);
        overflow-x: hidden;
        overflow-y: auto;
        @include scroll-bar(5px);
        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            padding: 0px;
            margin: 0px;
            li {
                width: calc(100% / 6);
                height: auto;
                margin-bottom: 15px;
                text-align: center;
                overflow: hidden;
                cursor: pointer;
                img {
                    display: block;
                    width: auto;
                    height: auto;
                    max-width: 65%;
                    max-height: 100%;
                    margin: 0px auto;
                }
                p {
                    padding: 0px;
                    margin: 0px auto;
                    font-size: 15px;
                    width: 65%;
                    height: 30px;
                    line-height: 30px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}